In [1]:
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [2]:
print(high_schools)

['Hernandez High School', 'Figueroa High School', 'Wilson High School', 'Wright High School']

In [3]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [4]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for schooltypes in high_school_types:
    print(schooltypes)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [5]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [6]:
print(high_schools)

['Huang High School', 'Figueroa High School', 'Shelton High School', 'Hernandez High School', 'Griffin High School', 'Wilson High School', 'Cabrera High School', 'Bailey High School', 'Holden High School', 'Pena High School', 'Wright High School', 'Rodriguez High School', 'Johnson High School', 'Ford High School', 'Thomas High School']

In [7]:
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [8]:
import pandas as pd

In [9]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [10]:
for eachschool in school_series:
    print(eachschool)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [11]:
# A dictionary of highschools 
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                     {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                     {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                     {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                     {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [12]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School", "Wilson High"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [14]:
schools_df = pd.DataFrame()

In [15]:
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
schools_df

ValueError: Length of values does not match length of index

In [ ]:
#This seems to make more sense than the above process, so why not stick with this?
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
high_schools_df = pd.DataFrame(high_schools_dict)

In [ ]:
high_schools_df

In [ ]:
school_df.columns

In [ ]:
school_df.index

In [ ]:
school_df.values

In [16]:
# Defining a new function
def say_something(something):
    print(something)

In [17]:
say_something("Hello World")

Hello World

In [18]:
Ebony_says = "Hi, my name is Ebony and I'm learning Python!"

In [19]:
say_something(Ebony_says)

Hi, my name is Ebony and I'm learning Python!

In [20]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [21]:
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [22]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [23]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [24]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [25]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object